.main_body {
  background-color: #0f0e0e;
  padding: 20px;
  border-radius: 5px;
  border:2px solid #dbd7d7;

}

.introbox {
    margin: 5px;
    border: 2px solid #dbd7d7;
    display: flex;
    flex-direction: row;
}
.introDesc{
    margin: 10px;
    border: 2px solid #dbd7d7;
    width: 100vw;
}

